body {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

a {
  color: #666666;
  font-family: arial;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
